<?xml version="1.0" encoding="UTF-8"?>
<quartz overwrite-existing-jobs="true" version="1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://quartznet.sourceforge.net/JobSchedulingData">
	<job>
		<job-detail>
			<name>DailyDigestEmailJob</name>
			<group>DailyDigestJob</group>
			<job-type>FogBugzPd.Application.Agent.Jobs.DailyDigestEmailJob, FogBugzPd.Application</job-type>
		</job-detail>

		<trigger>
			<cron>
				<name>DailyDigestEmailJobTrigger</name>
				<group>FogBugzPdJobs</group>
				<job-name>DailyDigestEmailJob</job-name>
				<job-group>DailyDigestJob</job-group>
				<misfire-instruction>SmartPolicy</misfire-instruction>
				<cron-expression>0 55 20 * * ?</cron-expression>
			</cron>
		</trigger>
	</job>
</quartz>