<appSettings>
	<add key="webpages:Version" value="1.0.0.0" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="UrlContentVersion" value="NewGuid"/>

	<add key="TenantMode" value="Multiple"/>

	<add key="UseMiniProfiler" value="1" />
	<add key="UseErrorLog" value="0"/>

	<add key="DebugEmail" value="sasha@entechsolutions.com"/>
	<add key="FromSystemEmail" value="no-reply@fogbugzpd.com" />
	<add key="SmtpServer" value="smtp.sendgrid.net, azure_1e11ab2fc3ab0cf54084a4a161a7cbc1@azure.com, bbmutbeq"/>

	<add key="FrontEndWebRoot" value="http://localhost:32674"/>
	<add key="ErrorLog_WebServiceUrl" value="http://errorlog-qa.entechsolutions.com/Api/service.svc" />
</appSettings>