<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\FogBugzPd\FogBugzPd.Core.Tests\packages.config" />
  <repository path="..\src\FogBugzPd\FogBugzPd.Core\packages.config" />
  <repository path="..\src\FogBugzPd\FogBugzPd.Web.Tests\packages.config" />
  <repository path="..\src\FogBugzPd\FogBugzPd.Web\packages.config" />
  <repository path="..\src\FogBugzPd\FogBugzPd.WorkerRole\packages.config" />
  <repository path="..\src\FogBugzPd\TestRail.MiniAPI.Tests\packages.config" />
  <repository path="..\src\FogBugzPd\TestRail.MiniAPI\packages.config" />
  <repository path="..\src\FogBugzPm\FogBugzPd.Web\packages.config" />
  <repository path="..\src\FogBugzPm\FogBugzPm.Web\packages.config" />
  <repository path="..\src\FogBugzPm\FogLampz.Tests\packages.config" />
  <repository path="..\src\FogBugzPm\TestRail.MiniAPI.Tests\packages.config" />
  <repository path="..\src\FogBugzPm\TestRail.MiniAPI\packages.config" />
  <repository path="C:\Users\USER\Desktop\TestRail.MiniAPI\packages.config" />
</repositories>