<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="errorLog" type="ErrorLog.ApiClient.ErrorLogClientConfigSection, ErrorLog.ApiClient" />
	</configSections>
	<system.diagnostics>
  <trace>
   <listeners>
    <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
     name="AzureDiagnostics">
     <filter type="" />
    </add>
   </listeners>
  </trace>
 </system.diagnostics>

	<errorLog apiKey="Ab394C-093" applicationGuid="D00D62F4-50AC-40DF-A7BB-9589E4E07625" webServiceUrl="http://stable-errors.entechsolutions.com/Api/Service.svc" />

	<connectionStrings configSource="Config\ConnectionStrings.config" />
	<appSettings configSource="Config\AppSettings.config" />

	<quartz>
		<add key="quartz.scheduler.instanceName" value="CommerceScheduler" />
		<!-- Configure Thread Pool -->
		<add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
		<add key="quartz.threadPool.threadCount" value="10" />
		<add key="quartz.threadPool.threadPriority" value="Normal" />
		<!-- Configure Job Store -->
		<add key="quartz.jobStore.misfireThreshold" value="60000" />
		<add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz" />
		<add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.JobInitializationPlugin, Quartz" />
		<add key="quartz.plugin.xml.fileNames" value="~/Config/QuartzJobs.config" />
		<add key="quartz.plugin.xml.scanInterval" value="600" />
		<!-- 10 mins -->
	</quartz>
</configuration>