<appSettings>
	<add key="ContainerAddress" value="fogbugzpd" />

	<add key="webpages:Version" value="1.0.0.0" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="UrlContentVersion" value="NewGuid"/>

	<add key="TenantMode" value="Multiple"/>

	<add key="UseErrorLog" value="1"/>
	<add key="RequireHttps" value="1"/>

	<add key="GoogleAnalyticsCode" value="UA-42674894-1"/>
	<add key="SnapEngageCode" value="43cb61ec-15c5-40b9-b4fb-3a9d6d6752ed"/>

	<add key="SmtpServer" value="smtp.sendgrid.net, azure_1e11ab2fc3ab0cf54084a4a161a7cbc1@azure.com, bbmutbeq"/>
	<add key="FromSystemEmail" value="no-reply@fogbugzpd.com" />
	<add key="EnvironmentType" value="Prod"/>

	<add key="FrontEndWebRoot" value="https://www.fogbugzpd.com"/>
	<add key="ErrorLog_WebServiceUrl" value="http://errorlog.entechsolutions.com/Api/service.svc" />
</appSettings>
