@model FogBugzPd.Web.Models.Account.LoginViewModel
@{
    ViewBag.Title = "Not used in SingleTenant mode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
         <div class="span12">
			   
              <br/>
             <legend>Features and Open-Source</legend>

             <ul>
                 <li>Read about latest features and see the screenshots 
                     <a href=" http://www.entechsolutions.com/fogbugzpm-streamlined-project-management-for-fogbugz" target="_blank">in this blog entry</a>
                  </li>
                 <li>
                     Free open-source version of FogBugzPd is available here: <a href="https://fogbugzpd.codeplex.com" target="_blank">https://fogbugzpd.codeplex.com</a> 
                 </li>
                 <li>
                     Cloud-hosted version of FogBugzPd can be accessed by using Login form on the bottom of this page. You can read about differences between Cloud-hosted and Standalone versions 
                     <a href="http://www.entechsolutions.com/announcing-fogbugz-project-dashboard-fogbugzpd-1-0" target="_blank">in this blog entry</a>
                 </li>
             </ul>
         </div>
     
         <div class="span12">