<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="MiniProfiler" version="2.1.0" targetFramework="net45" />
  <package id="MiniProfiler.EF" version="2.1.0" targetFramework="net45" />
  <package id="NewRelic.Azure.WebSites" version="2.10.40.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
</packages>